<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Чтение</title>
</head>
<body>
    <a href="{% url 'catalog' %}">
        <input type="submit" name="catalog" id="catalog" value="Каталог"/>
    </a>

    <form action="{% url 'book_review' %}" method="GET">
        <input name="book" id="book" value="{{ book.title }}" hidden=""/>
        <button type="submit">Перейти в описание книги</button>
    </form>

    <h1>"{{ book.title }}"</h1>

    <form action="" method="GET">
        <input name="name_book" id="name_book" value="{{ book.title }}" hidden=""/>

        {% if previous_chapter > 0 %}
            <i>Предыдущая глава</i>
            <a href="{% url 'read_book' %}">
                <input type="submit" name="chapter" id="previous_chapter" value="{{ previous_chapter }}"/>
            </a>
        {% else %}
            <br>
        {% endif %}

        <div>
            <h2>Глава {{ chapter }} из {{ book.chapters }}</h2>
        </div>

        {% if next_chapter <= book.chapters %}
            <i>Следующая глава</i>
            <a href="{% url 'read_book' %}">
                <input type="submit" name="chapter" id="next_chapter" value="{{ next_chapter }}"/>
            </a>
        {% else %}
            <br>
        {% endif %}
    </form>

    <br>

    <form action="{% url 'read_book' %}" method="GET">
        <input name="name_book" id="name_book_choose_chapter" value="{{ book.title }}" hidden=""/>
        <input name="chapter" id="chosen_chapter" placeholder="выбрать главу" >
        <button type="submit">читать</button>
    </form>

    <h1>{{ book_header }}</h1>
    <br>
    {% for one_paragraph in content_text %}
        <h3>{{ one_paragraph }}</h3>
    {% endfor %}

    <h2>Глава {{ chapter }} из {{ book.chapters }}</h2>
</body>
</html>
