<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>one_book.title</title>
</head>
<body>
    <h3><a href="{% url 'catalog' %}">Каталог</a></h3>

    <h1>Книга "{{ one_book.title }}"</h1>
    <h3>Жанр:</h3>
    <ul>
        {% for one_genre in one_book.genre.all %}
            <li>{{ one_genre }}</li>
        {% endfor %}
    </ul>
    <hr>
    <h2>Всего глав: {{ one_book.chapters }}</h2>
    <h4>Статус: {{ one_book.completeness }}</h4>

    <img src="../../../../Ranoba_main/{{ book.cover_picture }}" alt="Обложка книги">
<!--    <img src='data:{{ picture }}' alt="Обложка книги">-->
<!--    <img src='data:image/jpg;base8,{{ picture }}' alt="Обложка книги">-->
    <hr>
    <h2><a href="{% url 'read_book' name_book=one_book.title chapter=1 %}">Читать</a></h2>
    <h2><a href="{% url 'listen_audio' name_audio=one_book.title chapter=1 %}">Слушать</a></h2>
</body>
</html>