<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ one_book.title }}</title>
</head>
<body>
    <a href="{% url 'catalog' %}">
        <input type="submit" name="catalog" id="catalog" value="Каталог"/>
    </a>

    <h1>Книга "{{ one_book.title }}"</h1>
    <img src="{% static 'Luchshij_rezhisser/cover_picture/luchshiy_rezhissyor.jpg' %}" alt="Обложка книги"/>

    <h3>Жанр:</h3>
    <ul>
        {% for one_genre in one_book.genre.all %}
            <li>{{ one_genre }}</li>
        {% endfor %}
    </ul>
    <hr>
    <h2>Всего глав: {{ one_book.chapters }}</h2>
    <h4>Год выпуска: {{ one_book.year|default:"не указан" }}</h4>
    <h4>Статус: {{ one_book.completeness }}</h4>

    <hr>
    <form action="{% url 'read_book' %}" method="GET">
        <input name="name_book" id="name_book" value="{{ one_book.title }}" hidden=""/>
        <input name="chapter" id="chapter" value="1" hidden=""/>
        <button type="submit">Читать</button>
    </form>

    <h2><a href="{% url 'listen_audio' name_audio=one_book.title chapter=1 %}">Слушать</a></h2>
</body>
</html>