<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "/entrance/css/normalize.css" %}'>
    <link rel="stylesheet" href='{% static "/entrance/css/style_login.css" %}'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="header">
       <div class="header__nav">
        <div class="header__width">
            <div class="header__items">
                <a href="{% url 'main_page' %}">Войти как гость</a>
                <a href="{% url 'politics' %}" target="_blank">Пользовательское соглашение</a>
                <a href="{% url 'registration' %}">Зарегистрироваться</a>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="logo">
            <div class="logo__items">
                <h1>Ranoba</h1>
            </div>
        </div>
        <div class="registry">
            <div class="registry__items">
                <h2>Войти</h2>
                <form action="" method="POST" class="registry__form">
                    {% csrf_token %}
                    <input type="text" name="name_or_email" id="name_or_email" placeholder="Имя / Почта" class="registry__input" required>
                    <input type="password" name="password" id="password" placeholder="Пароль" class="registry__input" required>
                    <button type="submit" id="submit" class="registry__button">Отправить</button>
                    {% if invalid_parameter %}
                        <p>{{ invalid_parameter }}</p>
                    {% elif user_name %}
                        <p>Приветствую, {{ user_name }}</p>
                    {% endif %}
                </form>
                <a href="#" class="registry__pass">не помню пароль</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>