<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "/main_page/css/ranobe.css" %}'>
    <title>Ranobe</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="meny">
                <div class="ranobe">Ranoba</div>
                <ul class="meny__items">
                    <div class="meny__search"> <a href="">Поиск</a></div>
                    <div class="meny__catalog"> <a href="">Каталог</a> </div>
                    <div class="meny__enter"> <a href="{% url 'login' %}">Войти</a></div>
                </ul>
            </div>
            <div class="header__main">
                <img src='' alt="" class="background__girl">
                <div class="main__txt">Добро пожаловать,<br>
                    слушатель !</div>
            </div>
            
        </div>
        <div class="block__popular">
            <div class="popular__heading">
                <h1>Будем слушать или читать ?</h1>
                <h2>популярные за последнее время тайтлы</h2>
            </div>
            <div class="popular__items">
                <div class="item">
                <div class="item__img"></div>
                <ul>
                    <li>Название</li>
                    <li>Жанр</li>
                    <li>Автор</li>
                </ul>
                </div>
                <div class="item">
                    <div class="item__img"></div>
                    <ul>
                        <li>Название</li>
                        <li>Жанр</li>
                        <li>Автор</li>
                    </ul>
                    </div>
                    <div class="item">
                        <div class="item__img"></div>
                        <ul>
                            <li>Название</li>
                            <li>Жанр</li>
                            <li>Автор</li>
                        </ul>
                        </div>
            </div>


        </div>
        <div class="block__recommendations">
            <div class="recommendations__heading">
                <h1>Рекомендовано вам</h1>
                <h2>по мере чтения или прослушивания мы будем <br>
                     находить схожие жанром произведения</h2>
            </div>
            <div class="recommendations__items">
                <div class="recom__item">
                <div class="recom__item__img"></div>
                <ul>
                    <li>Название</li>
                    <li>Жанр</li>
                    <li>Автор</li>
                </ul>
                </div>
                <div class="recom__item">
                    <div class="recom__item__img"></div>
                    <ul>
                        <li>Название</li>
                        <li>Жанр</li>
                        <li>Автор</li>
                    </ul>
                    </div>
                    <div class="recom__item">
                        <div class="recom__item__img"></div>
                        <ul>
                            <li>Название</li>
                            <li>Жанр</li>
                            <li>Автор</li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="block__samurai">
            <img src='{% static "/main_page/img/samurai.png" %}' alt="" class="samurai__img">
            <div class="genres">
                <h1>Поиск по жанрам</h1>
                <h2>жанры на любой вкус !</h2>
                <div class="samurai__items">
                    <div class="samurai__item"> <a href="">детектив</a> </div>
                    <div class="samurai__item"> <a href="">роман</a> </div>
                    <div class="samurai__item"> <a href="">триллер</a> </div>
                    <div class="samurai__item"> <a href="">приключения</a> </div>
                </div>
            </div>
        </div>
        <div class="block__search">
            <h1>Поиск по названию</h1>
            <h2>если вы знаете название интересующей <br>
                 книжки, то просто впишите его</h2>

        </div>
        <div class="block__information">
            <div class="connection">
            <h2>Cвязь:            example@gmail.com</h2>
            <ul>
                <li> <a href=""> <img src='{% static "/main_page/img/iconVK 1.svg" %}' alt=""> </a> </li>
                <li><a href=""> <img src='{% static "/main_page/img/iconYouTube 1.svg" %}' alt=""> </a></li>
                <li><a href=""> <img src='{% static "/main_page/img/iconTwitter 1.svg" %}' alt=""> </a></li>
                <li><a href=""> <img src='{% static "/main_page/img/iconFB 1.svg" %}' alt="" class="fb__connection"> </a></li>
            </ul>
        </div>
            <div class="information">
                <h2>Бумажки:</h2>
                <ul>
                    <li><a href=""> для правообладателей </a></li>
                    <li><a href="">пользовательское соглашение </a></li>
                    <li><a href=""> лицензия</a></li>
                    <li><a href=""> DMCA</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>