<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "/main_page/css/reset.css" %}'>
    <link rel="stylesheet" href='{% static "/main_page/css/styles.css" %}'>
    <title>Ranoba</title>
</head>
<body>
    <div class="content">
        <div class="main">
            <div class="header">
                <div class="header_nav">
                    <div class="header_logo"><a href="#" class="nav__item1">Ranoba</a></div>
                    <div class="header_nav_items">
                        <form action="action">
                            <input type="search" class="nav__item2" placeholder="поиск">
                        </form>
                        <a href="{% url 'catalog' %}" class="nav__item3">каталог</a>
                        <a href="{% url 'login' %}" class="nav__item4">войти</a>
                    </div>
                </div>
            </div>
            <div class="section-main">
                <div class="section-main_items">
                    <div class="section-main_text">
                        <span><h1 class="section-main_title">Добро пожаловать, <br> слушатель !</h1></span>
                        <span><p class="section-main_subtitle">Будем слушать или читать ?</p></span>
                    </div>
                    <div class="section-main_arrow">
                        <a href="#popular" class="section-main_arrow1"><img src="{% static '/main_page/img/arrow.png' %}" alt="Вниз"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="popular" id="popular">
            <div class="popular_items">
                <div class="popular_caption">
                    <span><a href="#p" class="popular_title">Популярное</a></span>
                    <span><p class="popular_subtitle">популярные за последнее время тайтлы</p></span>
                </div>
                <div class="popular_books">
                    <div class="popular_book">
                        <a href="#"><div class="popular_ranobe"></div></a>
                        <div class="popular_desc">
                            <div class="popular_desc_name"><span>Название</span></div>
                            <div class="popular_desc_genre"><span>Жанр</span></div>
                            <div class="popular_desc_author"><span>Автор</span></div>
                        </div>
                    </div>
                    <div class="popular_book">
                        <a href="#"><div class="popular_ranobe"></div></a>
                        <div class="popular_desc">
                            <div class="popular_desc_name"><span>Название</span></div>
                            <div class="popular_desc_genre"><span>Жанр</span></div>
                            <div class="popular_desc_author"><span>Автор</span></div>
                        </div>
                    </div>
                    <div class="popular_book popular_book_del">
                        <a href="#"><div class="popular_ranobe"></div></a>
                        <div class="popular_desc">
                            <div class="popular_desc_name"><span>Название</span></div>
                            <div class="popular_desc_genre"><span>Жанр</span></div>
                            <div class="popular_desc_author"><span>Автор</span></div>
                        </div>
                    </div>
                </div>
                <div class="popular_books_2ndrow">
                    <div class="popular_book">
                        <a href="#"><div class="popular_ranobe"></div></a>
                        <div class="popular_desc">
                            <div class="popular_desc_name"><span>Название</span></div>
                            <div class="popular_desc_genre"><span>Жанр</span></div>
                            <div class="popular_desc_author"><span>Автор</span></div>
                        </div>
                    </div>
                    <div class="popular_book">
                        <a href="#"><div class="popular_ranobe"></div></a>
                        <div class="popular_desc">
                            <div class="popular_desc_name"><span>Название</span></div>
                            <div class="popular_desc_genre"><span>Жанр</span></div>
                            <div class="popular_desc_author"><span>Автор</span></div>
                        </div>
                    </div>
                    <div class="popular_book">
                        <a href="#"><div class="popular_ranobe"></div></a>
                        <div class="popular_desc">
                            <div class="popular_desc_name"><span>Название</span></div>
                            <div class="popular_desc_genre"><span>Жанр</span></div>
                            <div class="popular_desc_author"><span>Автор</span></div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <div class="recomendation">
            <div class="recomendation_items">
                <div class="recomendation_caption">
                    <span><a href="#" class="recomendation_title">Рекомендовано вам</a></span>
                    <span><p class="recomendation_subtitle">по мере чтения или прослушивания мы будем <br> находить схожие жанром произведения</p></span>
                </div>
                <div class="recomendation_books">
                    <div class="recomendation_book">
                        <a href="#"><div class="recomendation_ranobe"></div></a>
                        <div class="recomendation_desc">
                            <div class="recomendation_desc_name"><span>Название</span></div>
                            <div class="recomendation_desc_genre"><span>Жанр</span></div>
                            <div class="recomendation_desc_author"><span>Автор</span></div>
                        </div>
                    </div>
                    <div class="recomendation_book">
                        <a href="#"><div class="recomendation_ranobe"></div></a>
                        <div class="recomendation_desc">
                            <div class="recomendation_desc_name"><span>Название</span></div>
                            <div class="recomendation_desc_genre"><span>Жанр</span></div>
                            <div class="recomendation_desc_author"><span>Автор</span></div>
                        </div>
                    </div>
                    <div class="recomendation_book popular_book_del">
                        <a href="#"><div class="recomendation_ranobe"></div></a>
                        <div class="recomendation_desc">
                            <div class="recomendation_desc_name"><span>Название</span></div>
                            <div class="recomendation_desc_genre"><span>Жанр</span></div>
                            <div class="recomendation_desc_author"><span>Автор</span></div>
                        </div>
                    </div>
                </div>
                <div class="popular_books_2ndrow">
                    <div class="popular_book">
                        <a href="#"><div class="popular_ranobe"></div></a>
                        <div class="popular_desc">
                            <div class="popular_desc_name"><span>Название</span></div>
                            <div class="popular_desc_genre"><span>Жанр</span></div>
                            <div class="popular_desc_author"><span>Автор</span></div>
                        </div>
                    </div>
                    <div class="popular_book">
                        <a href="#"><div class="popular_ranobe"></div></a>
                        <div class="popular_desc">
                            <div class="popular_desc_name"><span>Название</span></div>
                            <div class="popular_desc_genre"><span>Жанр</span></div>
                            <div class="popular_desc_author"><span>Автор</span></div>
                        </div>
                    </div>
                    <div class="popular_book">
                        <a href="#"><div class="popular_ranobe"></div></a>
                        <div class="popular_desc">
                            <div class="popular_desc_name"><span>Название</span></div>
                            <div class="popular_desc_genre"><span>Жанр</span></div>
                            <div class="popular_desc_author"><span>Автор</span></div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <div class="genres">
            <div class="genres_items">
                <div class="genres_caption">
                    <span><a href="#" class="genres_title">Поиск по жанрам</a></span>
                    <span><p href="#" class="genres_subtitle">жанры на любой вкус !</p></span>
                </div>
                <div class="genres_tabs">
                    <a href="#"><div class="genre_tab">
                        <div class="genre_tab_text">
                            <p>детектив</p>
                        </div>
                    </div></a>

                    <a href="#"><div class="genre_tab">
                        <div class="genre_tab_text">
                            <p>роман</p>
                        </div>
                    </div></a>

                    <a href="#"><div class="genre_tab">
                        <div class="genre_tab_text">
                            <p>триллер</p>
                        </div>
                    </div></a>

                    <a href="#"><div class="genre_tab">
                        <div class="genre_tab_text">
                            <p>приключения</p>
                        </div>
                    </div></a>
                </div>
            </div>
        </div>
        <div class="search">
            <div class="search_items">
                <div class="search_caption">
                    <span><a href="#" class="search_title">Поиск по названию</a></span>
                    <span><p class="search_subtitle">если вы знаете название интересующей <br> книжки, то просто впишите его</p></span>
                </div>
                <form action="action" class="search_input">
                    <input type="search" class="search_input_items" placeholder="Ранобе...">
                </form>
            </div>
        </div>
        <div class="footer">
            <div class="footer_items">
                <div class="footer_social">
                    <span><p class="footer_email">example@gmail.com</p></span>
                    <div class="footer_social_links">
                        <span><a href="https://vk.com/saya.shka" target="_blank"><img src='{% static "/main_page/img/vk.png" %}' alt="vk"></a></span>
                        <span><a href="https://t.me/ranobaru" target="_blank"><img src='{% static "/main_page/img/tg.png" %}' alt="tg"></a></span>
                    </div>
                </div>
                <div class="footer_papers">
                    <span><a href="{% url 'politics' %}" target="_blank">для правообладателей</a></span>
                    <span><a href="{% url 'politics' %}" target="_blank">пользовательское соглашение</a></span>
                    <span><a href="{% url 'politics' %}" target="_blank">лицензия</a></span>
                    <span><a href="{% url 'politics' %}" target="_blank">DMCA</a></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>